@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';
/* @tailwind base;
@tailwind components; */
@tailwind utilities;


@theme {
    --color-peach-100: #FCCD99;
    --color-peach-200: #FDCE9A;
    --color-peach-300: #FFD79C;
    --color-peach-400: #ECA447;
    --color-ivory: #FFF3E6;
    --color-teal: #7BAAA0;
    --font-playfair: 'Playfair Display', serif;
    --font-quicksand: 'Quicksand', sans-serif;
}

* {
    @apply box-border;
}

